.App {
  margin: 16px;
}

:local(.passed){
  background: green;
  width: 180px;
  padding: 20px;
}

:local(.notPassed){
  background: red;
  width: 180px;
  padding: 20px;
}

:local(.charComponent){
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 16px;
  text-align: center;
  margin: 16px;
  border: 1px solid black;
}